@model List<WorldLibrary.Web.Data.Entities.Book>
@{
    ViewData["Title"] = "AdvancedSearch";
}

<h2>Advanced Search</h2>
<form class="form-horizontal" role="form">
    <table class="table">

        <div class="form-group">
            @Html.Label("Category")
            @Html.TextBox("category", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Title")
            @Html.TextBox("title1", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Author")
            @Html.TextBox("author", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Year")
            @Html.TextBox("year", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Status")
            @Html.TextBox("status", null, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Search</button>


    </table>
</form>

<div>
    @if (Model.Any())
    {
        <h3>Search Result</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var books in Model)
                {
                    <tr>
                        <td>@books.Category</td>
                        <td>@books.Title</td>
                        <td>@books.Author</td>
                        <td>@books.Year</td>
                        <td>@books.StatusBook</td>
                        <td>
                         <img src="@books.ImageFullPath" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto;" />
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
