@model WorldLibrary.Web.Data.Entities.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Synopsis)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Synopsis)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Assessment)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Assessment)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StatusBook)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StatusBook)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto;" />
            
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="far fa-edit"></i>Edit</a>
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
    <a class="btn btn-primary" href="@Model.BookPdfUrl" target="_blank"><i class="far fa-eye"></i>Read Now</a>

</div>
