@model WorldLibrary.Web.Data.Entities.PhysicalLibrary

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <h4>Libraries</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <dl class=" container justify-content-center">
                 <dd class="col-sm-9">

                    <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto">

                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
               
                @if (this.User.IsInRole("Librarian") || this.User.IsInRole("Assistant"))
                {

                        <dd class="col-sm-9">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="far fa-edit"></i>Edit</a>
                            <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
                           
                        </dd>

                }
                <dd class="col-sm-9">

                    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
                   
                </dd>
                
            </dl>
        </div>
    </div>
</div>
