@model IEnumerable<WorldLibrary.Web.Data.Entities.ReserveDetailTemp>

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />


<br />

<p>
    <a asp-action="AddReserve" class="btn btn-success">Add Reservation</a>
    <a asp-action="ConfirmReserve" class="btn btn-primary" id="btnConfirm">Confirm Reservation</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reserves</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Book.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Book.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td id="@item.Id">

                                    <a asp-action="EditReserve" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                                    <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteItem">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="confirmDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Reservevation </h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm the reserve ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesConfirm">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoConfirm">No</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Reserve</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete book from reserve ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $("#btnConfirm").click(function () {
                $("#confirmDialog").modal("show");
                return false;
            });
            $("#btnNoConfirm").click(function () {
                $("#confirmDialog").modal("hide");
                return false;
            });
            $("#btnYesConfirm").click(function () {
                window.location.href = "/Reserves/ConfirmReserve";
            });
            $("a[id*=btnDeleteItem]").click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal("hide");
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = "/Reserves/DeleteItem/" + id;
            });
        });
    </script>
    }
